.box{
    border: 2px solid black;
    width: 500px;
    height: 550px;
    padding: 5px;
}
.box1,.box2,.box3,.box4,.box5{
    position: relative;
    text-align: center;
    margin: 10px;
    padding: 30px;
}
.box1{
    border: 2px solid red;
    width: 420px;
    height: 50px;
    margin: 10px;
    padding: 40px 30px 20px 20px;
}
.box6,.box7,.box8,.box9,.box10{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30px;
    height: 30px;
}
.box6{
    background-color: red;
}
.box2{
    border: 2px solid rgb(57, 16, 203);
    width: 80px;
    height: 200px;
}
.box7{
    background-color: rgb(78, 16, 212);
}
.box3{
    border: 2px solid rgb(57, 16, 203);
    width: 120px;
    height: 200px;
}
.box8{
    background-color: rgb(78, 16, 212);
}
.box4{
    border: 2px solid rgb(57, 226, 15);
    width: 80px;
    height: 200px;
}
.box9{
    background-color: rgb(13, 198, 62);
}
.box5{
    border: 2px solid rgb(215, 15, 226);
    width: 420px;
    height: 50px;
}
.box10{
    background-color: rgb(186, 16, 147);
}
.para{
    display: flex;
    justify-content: space-between;
}